.about-page {
  font-family: 'Nunito', sans-serif;
  padding-top: 60px;
}

.hero-sections {
  position: relative;
  color: white;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("../images/about-heroimg.png") !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #98b66e;
}


.hero-sections .hero-contents {
  z-index: 1;
  padding: 20px;
}

.hero-sections h1 {
  font-family: 'Bungee', sans-serif;
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px #000;
}

.about-p {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.about-wlcm {
  font-family: 'Nunito', sans-serif !important;
  font-size: 20px !important;
}

.about-h3 {
  font-family: 'Bungee', sans-serif;
  font-size: 3rem !important;
  color: #65813e !important;
}

.whatis{
 width: 450px;
 height: 350px;
 object-fit: cover;
 border-radius: 15px;
}

.stats-sections{
  padding: 60px 20px;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
}

#statics-title {
  font-family: 'Bungee', sans-serif;
  font-size: 4rem;
  color: #65813e;
  padding-bottom: 30px;
}

#unique {
  padding-bottom: 50px;
}

  .slick-prev:before {
   
    color: black !important;
   
}

  .slick-next:before {
  
    color: black !important;

}
  .Members-pic {
    width: 100%;
    height: 50vh;
    padding: 10px;
    object-fit: cover;
  }
  
  /* Tablet styles */
  @media only screen and (max-width: 768px) {
    .col-md-3s {
      width: 100% !important;
      margin-top: 25px !important;
      margin-left: 0;
    }
  
    .Members-pic {
      width: 150px;
      height: 150px;
    }

  }

  @media (max-width: 575px) {
   .Members {
      width: auto !important;
      margin-top: 25px !important;
      margin-left: 0;
    }
  
    .Members-pic {
      width: 250px;
      height: 250px;
    }

    #statics-title {
      font-size: 3.5rem;
    }

  }
 