.body {
  font-family: 'Bungee', sans-serif;
  background-color: #F1ECE4;
  background-image: url("../images/greengradient.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 150px;
  padding-top: 100px; 
}

.contact-h1 {
  text-align: center;
  color: #79994D;
  margin-top: 20px;
  padding: 30px;
}

#contactForm {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 50 px;
}

label,
select,
textarea {
  display: block;
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

select,
textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.contact-input {
    border: 2px solid #ccc;
    width: 100%;
    height: 2.5em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #F3F3F3;
    border-radius: 10px;
    transition: all 0.5s;
}

.contact-input:hover, .contact-input:focus {
  border: 2px solid #79994d;
  box-shadow: 0px 0px 0px 7px rgba(100, 195, 97, 0.2);
  background-color: white;
}

.cnct-submit {
  width: 100%;
  background-color: #333;
  color: #98B66E;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
}

.cnct-submit:hover {
  background-color: #555;
}

.contactFormMessage {
  margin-top: 15px;
  text-align: center;
  color: #c1c1c1; /* Success message color */
  font-weight: bold;
}